.profile{
    
    width:100%;
    height: 100dvh;
    display: flex;
    /* background-color: red;; */
    
}
/* .profile-nav{
    flex:0.1;
    height: 70%;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}
.profile-nav-item{
  
    padding-top: 25px;
} */
.profile-nav-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 15%;
    height: 100%;
    background-color: var(--secondary);

    /* padding-top: 60px !important; */

}
.profile-display{
    flex: 1;
    padding: 20px;
    height: auto;
    overflow-y: scroll;
    scrollbar-width: none;
    /* background: red; */
}
/* .profile-item{
  
    display: flex;
} */
.profile-icons{
    width: 30px;
    color: black;
}

/* this part id the round white circle that needs to be worked on */

/* if it is not active the color of the icon shud be black
if it active the color shud be black if */
.active_item{
    background-color: white;
    width: 100%;
    height: 50px;
    padding: 10px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    /* border-radius: 50%; */
}
#icon-padding{
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding-top:20px;
}

.icon {
    filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
  }
  
  .icon.active {
    filter: brightness(0) saturate(100%)
  }

.profile_photo{
    position: relative;
    width: 300px;
    height:300px;
    /* background-image:url("../../../assets/profilepage/profilephoto.png"); */
    background-size: cover;
}
.profile_photo > div{
    position: absolute;
    bottom: 0;
}
.profile_button > button{
    width:max-content;
}
.profile_dashboard{
    position: absolute;
    bottom: 15%;
}

.bottom-border{
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}
.p-card{
    display: flex;
    width: 80%;
    height: 400px;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    padding: 20px;
}
.p-card > .div-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap:20px;

    /* background-color: red; */
}

.p-card > .div-text > .div-text-flex {
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* background-color: red; */
}
.p-card > .div-text > .div-text-flex > div{
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

}

.p-card > .div-icon{
    width: 30%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    border-right: 1px solid gray;
}

.p-card > .div-icon > img {
    border-radius: 50%;
    width: 200px;
}

@media screen and (max-width: 768px){

    .profile-nav-container{
        display:none;
        /* background-color: red; */
    }

    .p-card{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        /* background-color: red; */
        justify-content: center;

       
    }
    .p-card > .div-icon{
        /* background-color: blue; */
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap:10px;
        border-right: 0px solid gray;
    }
    

}